body {
  font-family: Tahoma, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
#container {
  margin:0 auto;
  width: 400px;
}

nav li, #google, #research, #answered {
  padding:0.4em;
  font-size: 0.8em;
}

li, #google, #research, #answered {
  padding:0.5em;
}


nav ul {
  max-width:300px;
  float: right;
}

li {
  list-style: none;
}

#google {
  background-color: lightgrey;
}

#research {
  background-color: lightblue;
}

#answered {
  background-color: lightgreen;
}

input[type='text'] {
  padding:0.5em;
  font-size:1em;
}

#username {
  /*background-color: #FF9494;*/
  width: 100px;
  display: inline-block;
}

#questiontext {
  display: inline-block;
}